{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Homepage</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static "finanzas/vendors/iconfonts/mdi/css/materialdesignicons.min.css" %}">
  <link rel="stylesheet" href="{% static "finanzas/vendors/css/vendor.bundle.base.css" %}">
  <link rel="stylesheet" href="{% static "finanzas/vendors/css/vendor.bundle.addons.css" %}">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static "finanzas/css/style.css" %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static "finanzas/images/favicon.png" %}" />
</head>

<body>
  <div class="container-scroller">
          {% block navbar %}
{% include "finanzas/partials/navbar.html" %}
        {% endblock %}

    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
          {% block sidebar %}
{% include "finanzas/partials/sidebar.html" %}
        {% endblock %}
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">

          {% block content %}

        {% endblock %}



        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->

          {% block footer %}
{% include "finanzas/partials/footer.html" %}
        {% endblock %}
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- plugins:js -->
  <script src="{% static "finanzas/vendors/js/vendor.bundle.base.js" %}"></script>
  <script src="{% static "finanzas/vendors/js/vendor.bundle.addons.js" %}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="{% static "finanzas/js/off-canvas.js" %}"></script>
  <script src="{% static "finanzas/js/misc.js" %}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="{% static "finanzas/js/dashboard.js" %}"></script>
  <!-- End custom js for this page-->
</body>

</html>